parameters:
    level: 9
    paths:
        - classes
    excludePaths:
        - tests

    ignoreErrors:
#        - '#Undefined variable: \$this#'
        -
            identifier: missingType.iterableValue
